body {
    background-color: #e3e3e3;
    font-family: verdana;
}


h1 {
    color: #837C72;
    text-align: left;
    font-family: 'Georgia', serif;
    font-size: 32px;
    font-style: italic;
}

h2 {
    color: #3b3b3b;
    text-align: left;
    font-family: 'verdana', serif;
    font-size: 18px;
    font-style: bold;
}

p {
    color: #3b3b3b;
    font-family: verdana;
    font-size: 16px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #CBC9C5;
    overflow: hidden;
    border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #9A8675;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #B68C87;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #B68C87;
    color: white;
}

.body{
  padding: 30px 100px;
}

.left-section {
  float: left;
  width: 35%;
  padding-top: 8%;
}

.right-section {
  float: right;
  width: 60%; 
}

.bottom-section {
  float: center;
  padding-top: 65%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CBC9C5;
    color: #9A8675;
    text-align: center;
    font-size: 12px;
    padding: 14px 16px;
}